/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Lato', sans-serif;
	background-color: #FFF3D5;
}

.title { 
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px;

}

.nav-title {
	font-family: 'Shadows Into Light', cursive;
	font-size: 30px;

}

.nav-title-page{
	font-family: 'Shadows Into Light', cursive !important;
	font-size: 30px !important; 
}

.nav-logo {
	 position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	min-height: 150px;
	padding-bottom: 35px;
	padding-top: 20px;
}



.navbar-brand img{
	max-height: 150px;
}

.navbar-place {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.value.img.place {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value.img.size {
  margin-right: 10px;
}


.carousel-container {
	margin-top: 650px;
}

.car.img.size {
	max-height: 30px !important;
	max-width: 30px !important;
}

.carousel-option {
	margin-left: auto;
	margin-right: 0;
	text-align: center;
}

.first-row {
	  display: flex;
  align-items: center;
  justify-content: space-between;
	background-color: #ff971e;
	height: 100%;
	width: 100%;
}

.index-page-text {
	font-family: 'Delicious Handrawn', cursive;
	font-size: 100px;
	color: #5adae6;
	text-shadow: 5px 5px 0 #00975d;
}

section{
	margin: 0;
	background-color: #ff971e;
}

.index-page-text-container {
  display: flex;
  flex-direction: column;
}

.index-page-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-page-img-container img {
	max-width: 500px;
  height: auto;
}

.index-page-img-container img {
  width: 80%;
}

.full-width-image {
  width: 100%;
  margin: 50px;
  
}

.full-width-image img {
  width: 100%;
  display: block;
  height: auto;

}

.content-above {
	margin-top: 1000px;
	margin-bottom: -50px;
}

.content-above-about {
	margin-top: 500px;
	margin-bottom: -50px;
}

.content-above-corporate {
	margin-bottom: 50px;
	margin-top: -50px;
}

.centered-text {
  text-align: center;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 80px;
  color: #ff971e;
}

.vision-text {
	font-size: 50px;
	text-align: center;
}

.carousel-item {
	width: 60%;
	height: auto;
	margin-left: 150px;
}

.value-title {
	font-family: 'Delicious Handrawn', cursive;
	color: #5adae6;
	font-size: 60px;
	margin-top: 60px;

}

.full-width {
  width: 100%;
}

.footer-looks {
	background-color: #ff971e !important;
}

.footer-text {
	font-family: 'Lato', sans-serif;
	color: #5adae6;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.font-example {
	font-family: 'Delicious Handrawn', cursive;
	font-size: 20px;
	display: block;
}

.font-example-two {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	display: block;
}

.corporate-title {
	font-family: 'Delicious Handrawn', cursive;
}



.extra-nav:active {
  color: #5ADAE6;
}

.nav-link {
	color:#00975D;
}

.btn {
	background-color: #5ADAE6;
	font-family: 'Lato', sans-serrif;
	font-size: 30px;
	font-color: #00975d;
	margin-bottom: 30px;
	box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
	border-color: #5adae6;
}


.container-about {
  max-width: 3000px !important;
  width: 95%; 
  margin: 0 auto;
  
}

.about-background {
	background-color: #ff971e;
}

.about-first-title {
		font-family: 'Delicious Handrawn', cursive;
	color: #00975d;
	font-size: 70px;
}
.about-first {
	font-family: 'Delicious Handrawn', cursive;
	color: #00975d;
	font-size: 50px;
}

.img-small {
  max-width: 40%;
  height: auto;
  margin: 10px;
}

.bg-container {
	background-color: #5ADAE6 !important;
}

.text-container {
  margin-top: 10px;
}

.img-middle {
	margin-left: 5px;
}

.txt-middle {
	margin-right: 10px;
}

.txt-steps {
	font-family: 'Lato', sans-serif;
	font-size: 25px;

}

.about-top {
	padding-top: 1400px;
}

.about-bottom {
	padding-bottom: 50px;
}

.txt-close {
	margin-bottom: -5px;
}

